[submodule "external/macro-logger"]
	path = external/macro-logger
        url = git@github.com:otto-link/GNode.git
[submodule "external/nodesoup"]
	path = external/nodesoup
	url = git@github.com:olvb/nodesoup.git
[submodule "external/demekgraph"]
	path = external/demekgraph
	url = git@github.com:gml4gtk/demekgraph.git
